/* h2{


    color: rgb(92, 203, 203);
  background-color: rgb(14, 44, 44);
  font-size: 60px;
text-decoration: overline;


} */


.head{

        color: rgb(255, 246, 240);

}

#head2{


color: blue;


}