*{

margin: 0px;
padding: 0px;
box-sizing: border-box;

}

#navbar{

   width: 100%;
   height: 60%;
   border: 1px solid black;
background-color: rgb(134, 161, 191);
display: flex;
justify-content:space-around;
align-items: center;

}

#navbar ul{
display: flex;
justify-content: space-around;
align-items: center;
text-align: center;
margin: 20px;
list-style: none;
gap: 10px;


}

#navbar img{

border-radius: 50%;

}

#navbar button{

   padding: 7px;
   background-color: aqua;
  border-radius: 10%;

}






